<div id="page-container" class="users">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <button
                pButton
                pRipple
                label="New"
                icon="pi pi-plus"
                class="p-button-success mr-2"
                (click)="newWorkOrder()"
            ></button>
        </ng-template>
    </p-toolbar>
    <p-table
        #dt
        [value]="workOrders"
        [rows]="10"
        [paginator]="true"
        responsiveLayout="scroll"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true"
        [loading]="loading"
    >
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="tradeName" style="width: 40%">
                    Trade name <p-sortIcon field="tradeName"></p-sortIcon>
                </th>
                <th pSortableColumn="creationDate" style="width: 15%">
                    Created <p-sortIcon field="creationDate"></p-sortIcon>
                </th>
                <th pSortableColumn="estimation" style="width: 15%">
                    Estimation <p-sortIcon field="estimation"></p-sortIcon>
                </th>
                <th pSortableColumn="priority" style="width: 12%">
                    Priority <p-sortIcon field="priority"></p-sortIcon>
                </th>
                <th pSortableColumn="status" style="width: 12%">
                    Status <p-sortIcon field="status"></p-sortIcon>
                </th>
                <th style="width: 6%"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-wo>
            <tr>
                <td>{{ wo.tradeName }}</td>
                <td>
                    {{
                        wo.creationDate.toMillis()
                            | date : "MMM d, y, h:mm:ss a"
                    }}
                </td>
                <td>{{ wo.estimation }}</td>
                <td>
                    <p-tag
                        [value]="wo.priority"
                        [severity]="getPriorityTagClass(wo.priority)"
                        styleClass="tag-highlight"
                    ></p-tag>
                </td>
                <td>
                    <p-tag
                        [value]="wo.status"
                        [severity]="getStatusTagClass(wo.status)"
                        styleClass="tag-highlight"
                    ></p-tag>
                </td>
                <td>
                    <button
                        pButton
                        pRipple
                        icon="pi pi-pencil"
                        class="p-button-rounded p-button-success mr-2"
                        (click)="editWorkOrder(wo)"
                        pTooltip="Edit Work Order"
                        tooltipPosition="left"
                        placeholder="Top"
                    ></button>
                    <button
                        pButton
                        pRipple
                        icon="pi pi-trash"
                        class="p-button-rounded p-button-danger"
                        (click)="deleteWorkOrder(wo)"
                        pTooltip="Delete Work Order"
                        tooltipPosition="left"
                        placeholder="Top"
                    ></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                {{ getTableSummary() }}
            </div>
        </ng-template>
    </p-table>
    <p-dialog
        [(visible)]="showWorkOrderDialog"
        [style]="{ width: '650px', height: '560px' }"
        [header]="!creatingWorkOrder ? 'Update Work Order' : 'Add Work Order'"
        [modal]="true"
        styleClass="p-fluid"
    >
        <ng-template pTemplate="content">
            <app-add-edit-work-order
                #addEditWOComponent
                [workOrder]="workOrder"
                (updateWorkOrder)="handleUpdateWorkOrder($event)"
                (createWorkOrder)="handleCreateWorkOrder($event)"
                [creatingWorkOrder]="creatingWorkOrder"
            ></app-add-edit-work-order>
        </ng-template>
    </p-dialog>
</div>
<p-toast></p-toast>
<p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle">
    <ng-template pTemplate="message">
        <h5 [innerHTML]="confirmationMessage"></h5>
    </ng-template>
    <ng-template pTemplate="footer">
        <button
            type="button"
            pButton
            icon="pi pi-times"
            label="No"
            (click)="cd.reject()"
        ></button>
        <button
            type="button"
            pButton
            icon="pi pi-check"
            label="Yes"
            class="p-button-danger"
            (click)="cd.accept()"
        ></button>
    </ng-template>
</p-confirmDialog>
