<div class="info-container">
    <h5>Airavata</h5>
    <h6>Application to create work orders!</h6>
    <h6>Version: 0.0.1</h6>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <label
                >Checkout code at
                <a
                    href="https://github.com/kumargandhi/airavata"
                    class="card-link"
                    target="_blank"
                    aria-describedby="basic-addon1"
                    >Github</a
                ></label
            >
        </div>
    </div>
</div>
