<div id="page-container">
    <div class="grid mb-3">
        <div class="col-6">
            <p-card
                header="Totals"
                [style]="{
                    width: '100%',
                    height: '300px'
                }"
            >
                <div class="total-container mb-5">
                    <div class="total">
                        {{ workOrders?.length }}
                    </div>
                    <div class="label">Work Orders</div>
                </div>
            </p-card>
        </div>
        <div class="col-6">
            <p-card
                header="Work Orders"
                [style]="{
                    width: '100%',
                    height: '300px'
                }"
            >
                <div class="chart-container">
                    <p-chart
                        type="doughnut"
                        [data]="data"
                        [options]="options"
                        [style]="{'height': '220px', 'display': 'flex', 'justify-content': 'center'}"
                    ></p-chart>
                </div>
            </p-card>
        </div>
    </div>
</div>
