@import "src/assets/scss/variables";
@import "src/assets/scss/mixins";

.total-container {
    @include flex-container;

    .total {
        font-size: 6rem;
        font-weight: $font-weight-light;
        line-height: 9rem;
        color: $purple-500;
        margin-bottom: 10px;
        min-height: 120px;
    }

    .label {
        font-size: 1.429rem;
        font-weight: $font-weight-bold;
        line-height: 2.128rem;
    }
}

.chart-container {
    @include flex-container;
}
