@import "./node_modules/bootstrap/scss/bootstrap";
@import "./node_modules/bootstrap-icons/font/bootstrap-icons";
@import "assets/fonts/open-sans-fonts";
@import "assets/scss/variables";
@import "assets/scss/primeng-overrides";
@import "assets/scss/bootstrap-overrides";
@import "assets/scss/mixins";

html,
body {
    font-size: $font-size-root !important;
    font-family: $font-family-name !important;
    direction: ltr;
}

html,
body {
    margin: 0;
    overflow: hidden;
    width: 100vw !important;
    height: 100vh !important;
}

.descriptive-text {
    @include descriptive-text;
    color: $theme-gray-dark;
}

//This is the main application container ID, includes the application header
#page-container {
    margin: 0;
    padding: 64px 1rem 1rem 1rem;
    height: 100vh;
    overflow-y: scroll;
    background: var(--theme-gray);
    // box-shadow: -3px 0 3px hsl(0deg 0% 40% / 10%);

    & > #page-title {
        background-color: inherit;
        margin: 0 !important;
        padding-right: $space-base;
        padding-bottom: $space-base;
    }

    & > #page-title.gray {
        background-color: $theme-gray-light !important;
    }

    & > .page-section {
        width: 100%;
        height: calc(100% - 64px);
    }
}

.text-primary-app {
    color: $theme-primary !important;
}
